---
import NotionPage from "../../components/react/NotionPage";
import NotionLayout from "../../layouts/NotionLayout.astro";
import { findPost } from "../../utils/server/notion";
import { NotionAPI } from "notion-client";

const { slug } = Astro.params;

export const prerender = false;

if (!slug) {
  return Astro.rewrite("/404");
}

if (!slug.match(/^[a-z0-9-]+$/)) {
  return Astro.rewrite("/404");
}

const page = await findPost(slug);

if (!page) {
  return Astro.rewrite("/404");
}

const notionX = new NotionAPI();

const recordMap = await notionX.getPage(page.id);

const isAi = page.tags.includes("AI");
---

<NotionLayout {page}>
  <NotionPage client:load {recordMap} />
  {
    !isAi && (
      <a
        href="https://notbyai.fyi"
        target="_blank"
        title="Written by human, not by AI"
        class="block mt-8"
      >
        <img
          src="/written-not-by-ai-en.svg"
          width="131px"
          height="42px"
          alt="Written by human, not by AI"
        />
      </a>
    )
  }
</NotionLayout>
