---
import SimpleContent from "../layouts/SimpleContent.astro";

// const workDocs = await Astro.glob("./work/*.md");
---

<SimpleContent
  title="Sam Liu - Blog"
  description="Here's what I've been up to."
>
  <div slot="heading" class="pt-1">
    <h1 class="text-black text-5xl font-medium">Blog</h1>
  </div>
  <div slot="content">
    <div class="leading-8">
      <p>
        You can find me tinkering with tech and exploring new hobbies in my free
        time.
      </p>
      <p>
        This interest has led me to places I never expected to go, knowledge I
        never thought would be useful, and lasting friendships that I never
        expected. So, here's an attempt to document and share my journey.
      </p>
      <br />
      <p>Blogging is still new to me, so take my words with a grain of salt.</p>
    </div>
    <!-- <div class="grid gap-4 sm:grid-cols-2 md:grid-cols-3 pt-16">
      {
        workDocs.map((doc) => (
          <WorkCard
            name={doc.frontmatter.name}
            desc={doc.frontmatter.desc}
            href={doc.url}
          />
        ))
      }
  </div> -->
    <p class="text-sm text-gray-800 text-center pt-14">
      Coming soon! I'm still working to write more posts!
    </p>
    <div class="pt-14">
      <h2 class="text-3xl font-medium">Scrapbook</h2>
      <div class="grid grid-cols-2 pt-5">
        <div
          class="border shadow border-gray-200 rounded py-4 px-5 w-full space-y-4"
        >
          <p class="font-medium">June 1, 12:34 pm</p>
          <div class="space-y-2">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo amet
              ratione vero laboriosam non, obcaecati repellendus animi possimus
              provident ullam expedita nesciunt quam aliquam maxime. Dicta
              voluptate itaque ex quasi. Aliquam, sit.
            </p>
            <img
              src="https://picsum.photos/1920/1080"
              alt="Random Image"
              class="rounded"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</SimpleContent>
