---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Sam Liu</title>
  </head>
  <body>
    <h1>My website needs a bit of refurbishing, it'll be back soon!</h1>
  </body>
</html>
