---
import BlogCard from "../components/BlogCard.astro";
import EmptyCard from "../components/EmptyCard.astro";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import WorkCard from "../components/WorkCard.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sam Liu">
  <Navbar />
  <main class="flex justify-center text-gray-800">
    <div class="grow px-10 sm:px-16 md:px-20 max-w-[60rem]">
      <div class="pt-40">
        <p class="text-2xl">Hey there! <span>👋</span></p>
        <h1 class="text-5xl font-medium pt-1 text-black">I'm Sam Liu</h1>
        <p class="pt-4 text-lg">
          I build things. Welcome to my corner on the internet!
        </p>
      </div>
      <div class="w-full flex justify-center">
        <div class="border-b-2 my-20 w-48 border-gray-200"></div>
      </div>
      <section>
        <div class="leading-8">
          <p>
            Hey! I'm Sam, a high-schooler in Ontario, Canada who is still
            figuring out what to do with the journey ahead.
          </p>
          <p>
            I taught myself how to code by building projects. From robots to
            games, the learning never ends.
          </p>
          <br />
          <p>
            When I'm not busy with school work, you can find me tinkering with
            tech and exploring new hobbies.
          </p>
          <p>
            I've been learning so much messing around with 3D printing &
            machining, graphic & UI design, the web, electronics & hardware,
            robotics, ML, and the list goes on... This website exists because I
            wanted to document my journey.
          </p>
          <br />
          <p>
            You may know me as a <a
              href="https://www.firstinspires.org/robotics/frc"
              target="_blank"
              class="underline decoration-gray-400 motion-safe:hover:decoration-gray-800 motion-safe:transition motion-safe:duration-50"
              >First Robotics</a
            > kid, a <a
              href="https://hackclub.com/"
              target="_blank"
              class="underline decoration-gray-400 motion-safe:hover:decoration-gray-800 motion-safe:transition motion-safe:duration-50"
              >Hack Clubber</a
            >, a friend, or that random person at school.
          </p>
          <p>
            If we haven't met yet, <a
              href="/contact"
              class="underline decoration-gray-400 motion-safe:hover:decoration-gray-800 motion-safe:transition motion-safe:duration-50"
              >I'd love to chat</a
            >!
          </p>
          <br />
          <p>
            Welcome to this quiet corner amidst the chaotic world we're in where
            I share my thoughts and creations.
          </p>
          <p>
            Bear in mind that this website is still a work in progress, but feel
            free to look around!
          </p>
        </div>
      </section>
      <section class="space-y-4 mt-20">
        <div class="flex flex-col space-y-2">
          <h2 class="text-3xl font-medium grow">My work</h2>
          <a class="flex space-x-1.5 items-center group" href="/work">
            <p class="group-hover:underline">See all work</p>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-5 motion-safe:transition-all motion-safe:group-hover:translate-x-0.5"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"></path>
            </svg>
          </a>
        </div>
        <div class="flex gap-x-4">
          <WorkCard
            name="Apocalypse"
            desc="I helped organize Toronto's largest high-school hackathon where 150 teens spent 44 hours in Shopify's Toronto Office."
            href="https://apocalypse.hackclub.com"
          />
          <WorkCard
            class="hidden sm:block"
            name="Echo"
            desc="A Discord bot that transcribes voice calls in real-time. The lightweight, local transcription model can run on a Raspberry Pi."
            href="https://github.com/SamDev-7/echo"
          />
          <WorkCard
            class="hidden md:block"
            name="Diamond Nuggets"
            desc="Diamond nuggets improves currency in Minecraft servers. Originally only for me to learn Java, it now has gotten 500K downloads."
            href="https://www.curseforge.com/minecraft/mc-mods/diamond-nuggets"
          />
        </div>
      </section>
      <section class="space-y-4 py-20">
        <div class="flex flex-col space-y-2">
          <h2 class="text-3xl font-medium">My blog</h2>
          <a class="flex space-x-1.5 items-center group" href="/blog">
            <p class="group-hover:underline">See all posts</p>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-5 motion-safe:transition-all motion-safe:group-hover:translate-x-0.5"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"></path>
            </svg>
          </a>
        </div>
        <div class="flex space-x-4">
          <BlogCard
            num={0}
            title="Coming soon..."
            short="I'm still building this! Stay tuned for the first post."
          />
          <EmptyCard class="hidden sm:block" />
          <EmptyCard class="hidden md:block" />
        </div>
      </section>
    </div>
  </main>
  <div class="sm:h-12"></div>
  <Footer />
</Layout>
