---
import SimpleContent from "../layouts/SimpleContent.astro";
import WorkCard from "../components/WorkCard.astro";

const workDocs = await Astro.glob("./work/*.md");
---

<SimpleContent
  title="Sam Liu - Work"
  description="Here are some stuff I've worked on"
>
  <div slot="heading" class="pt-1">
    <h1 class="text-black text-5xl font-medium">Work</h1>
  </div>
  <div slot="content">
    <div class="leading-8">
      <p>
        "We're at our best when we're making." - <a
          href="https://hackclub.com/philosophy/"
          target="_blank"
          class="underline decoration-gray-400 motion-safe:hover:decoration-gray-800 motion-safe:transition motion-safe:duration-75"
          >Hack Club Philosophy</a
        >.
      </p>
      <p>
        I have a lot of unfinished ideas, but here are some of the stuff I've
        worked on.
      </p>
      <br />
      <p>
        Feel free to <a
          href="/contact"
          class="underline decoration-gray-400 motion-safe:hover:decoration-gray-800 motion-safe:transition motion-safe:duration-75"
          >send me a message</a
        > if you're interested or curious in something you see!
      </p>
    </div>
    <div class="grid gap-4 sm:grid-cols-2 md:grid-cols-3 pt-16">
      {
        workDocs.map((doc) => (
          <WorkCard
            name={doc.frontmatter.name}
            desc={doc.frontmatter.desc}
            href={doc.url}
          />
        ))
      }
    </div>
    <p class="text-sm text-gray-800 text-center pt-8">
      There's more coming! I'm still working to write more project pages!
    </p>
  </div>
</SimpleContent>

<script>
  const contactSlack = document.getElementById("contact-slack");
  if (contactSlack) {
    contactSlack.addEventListener("click", () => {
      navigator.clipboard.writeText("@samliu");
      contactSlack.textContent = "Copied!";
      setTimeout(() => {
        contactSlack.textContent = "@samliu";
      }, 2000);
    });
  }
</script>
