---
import SimpleContent from "../layouts/SimpleContent.astro";
import WorkCard from "../components/WorkCard.astro";

const workDocs = await Astro.glob("./work/*.md");
---

<SimpleContent
  title="Sam Liu - Work"
  description="Here are some stuff I've worked on"
>
  <div slot="heading" class="pt-1">
    <h1 class="text-black text-5xl font-medium">Work</h1>
  </div>
  <div slot="content">
    <div class="leading-8">
      <p>Here are some stuff I've worked on.</p>
      <p>
        Interested or curious in something you see? <a
          href="/contact"
          class="underline decoration-gray-400 motion-safe:hover:decoration-gray-800 motion-safe:transition motion-safe:duration-75"
          >Send me a message</a
        >!
      </p>
    </div>
    <div class="grid gap-4 sm:grid-cols-2 md:grid-cols-3 pt-16">
      {
        workDocs.map((doc) => (
          <WorkCard
            name={doc.frontmatter.name}
            desc={doc.frontmatter.desc}
            href={doc.url}
          />
        ))
      }
    </div>
  </div>
</SimpleContent>

<script>
  const contactSlack = document.getElementById("contact-slack");
  if (contactSlack) {
    contactSlack.addEventListener("click", () => {
      navigator.clipboard.writeText("@samliu");
      contactSlack.textContent = "Copied!";
      setTimeout(() => {
        contactSlack.textContent = "@samliu";
      }, 2000);
    });
  }
</script>
