---
import SimpleContent from "../layouts/SimpleContent.astro";
import WorkCard from "../components/WorkCard.astro";

const workDocs = await Astro.glob("./work/*.md");
---

<SimpleContent title="Work" description="Here are some stuff I've worked on.">
  <div slot="heading" class="pt-1">
    <h1 class="text-black text-5xl font-medium">Work</h1>
  </div>
  <div slot="content">
    <div class="leading-8">
      <p>
        I believe that the best way to learn is to build. It turns consumers to
        creators. It's a superpower. (Check out the
        <a
          href="https://hackclub.com/philosophy/"
          class="underline decoration-gray-400 motion-safe:hover:decoration-gray-800 motion-safe:transition motion-safe:duration-75"
          target="_blank">Hack Club Philosophy</a
        >). I've tried a lot of different things, many of which have failed or
        are incomplete, collecting dust.
      </p>
      <br />
      <p>
        Sometimes, I'll have really cool stuff to share. Some of these are just
        experiments; others, a little more serious. I've collected some of them
        here for you to see.
      </p>
    </div>
    <div class="grid gap-4 sm:grid-cols-2 md:grid-cols-3 pt-16">
      {
        workDocs.map((doc) => (
          <WorkCard
            name={doc.frontmatter.name}
            desc={doc.frontmatter.desc}
            href={doc.url}
          />
        ))
      }
    </div>
    <p class="text-sm text-gray-800 text-center pt-8">
      There's more coming! I'm still working to write more project pages!
      <br />
      You can check my <a
        href="https://github.com/samdev-7"
        target="_blank"
        class="underline decoration-gray-400 motion-safe:hover:decoration-gray-800 motion-safe:transition motion-safe:duration-75"
        >GitHub</a
      > for some of my past projects in the meantime.
    </p>
  </div>
</SimpleContent>
