---
interface Props {
  num: number;
  title: string;
  short: string;
  class?: string;
  href?: string;
}

const { num, title, short, class: className, href } = Astro.props;
---

<a
  href="#"
  class=`${className} border-2 border-gray-300 rounded py-5 px-5 w-full ${href ? 'motion-safe:hover:-translate-y-1 motion-safe:hover:shadow motion-safe:transition' : ''}`
>
  <div class="space-y-2">
    <div>
      <p class="uppercase text-sm">
        Adventure - {String(num).padStart(2, "0")}
      </p>
      <h1 class="text-xl font-medium">{title}</h1>
    </div>
    <p
      class="text-sm overflow-hidden text-ellipsis text-wrap w-full max-h-[5lh]"
      style="-webkit-line-clamp: 5; -webkit-box-orient: vertical; display: -webkit-box;"
    >
      {short}
    </p>
  </div>
</a>
