---
const commitSha: string =
  import.meta.env.PUBLIC_VERCEL_GIT_COMMIT_SHA ?? "unknown";
---

<footer class="flex justify-center text-gray-600 text-sm pb-8">
  <div
    class="max-w-[80rem] grow px-6 sm:px-16 md:px-20 flex flex-col text-center sm:flex-row sm:text-left"
  >
    <p>Thanks for reading!</p>
    <div class="sm:grow"></div>
    <p>
      Copyright 2024 Sam Liu. Build <a
        class="italic underline decoration-gray-300 motion-safe:hover:decoration-gray-400 motion-safe:transition motion-safe:duration-75"
        href=`https://github.com/samdev-7/website/commit/${commitSha}`
        target="_blank">{commitSha.substring(0, 7)}</a
      ><span class="hidden md:inline">
        from <a
          href="https://github.com/samdev-7/website/"
          target="_blank"
          class="underline decoration-gray-300 motion-safe:hover:decoration-gray-400 motion-safe:transition motion-safe:duration-75"
          >samdev-7/website</a
        ></span
      >
    </p>
  </div>
</footer>
