<nav class="flex justify-center">
  <div class="h-14 flex px-20 items-center max-w-[80rem] grow pt-2">
    <div>
      <a href="/" class="text-2xl font-medium">Sam Liu</a>
    </div>
    <div class="grow flex justify-end">
      <ul class="flex space-x-8 text-lg">
        <li><a href="/" class="hover:underline">Home</a></li>
        <li><a href="/work" class="hover:underline">Work</a></li>
        <li><a href="/blog" class="hover:underline">Blog</a></li>
        <li><a href="/contact" class="hover:underline">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
