<nav class="flex justify-center">
  <div class="h-14 flex px-20 items-center max-w-[80rem] grow pt-2">
    <div>
      <p class="text-2xl font-medium">Sam Liu</p>
    </div>
    <div class="grow flex justify-end">
      <ul class="flex space-x-8 text-lg">
        <li>Home</li>
        <li>Work</li>
        <li>Blog</li>
        <li>Contact</li>
      </ul>
    </div>
  </div>
</nav>
