---
interface Props {
  name: string;
  desc: string;
}

const { name, desc } = Astro.props;
---

<div class="border-2 border-gray-300 rounded py-4 px-5 w-full">
  <div class="space-y-2">
    <h1 class="text-xl font-medium">{name}</h1>
    <p class="text-sm">{desc}</p>
  </div>
</div>
