---
interface Props {
  name: string;
  desc: string;
  class?: string;
  href?: string;
}

const { name, desc, class: className, href } = Astro.props;
---

<a
  href={href ? href : "#"}
  target={href ? "_blank" : "_self"}
  class=`${className} border-2 border-gray-300 rounded py-4 px-5 w-full ${href ? 'motion-safe:hover:-translate-y-1 motion-safe:hover:shadow motion-safe:transition' : ''}`
>
  <div class="space-y-2">
    <h1 class="text-xl font-medium">{name}</h1>
    <p class="text-sm">{desc}</p>
  </div>
</a>
