@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply font-poppins tracking-wide motion-safe:scroll-smooth motion-reduce:transition-none;
	--scrollbar-width: calc(100vw - 100%);
	--max-carousel-width: calc(min(1536px, 100vw - var(--scrollbar-width)) - 8rem);
	--half-max-carousel-width: calc(var(--max-carousel-width) / 2);
}

.typewriter-cursor {
	--cursor-color: #2563eb;
	--cursor-width: 0.2ch;
}

.inline-url {
	@apply text-blue-500 hover:underline dark:text-blue-400;
}

.secondary-inline-url {
	@apply underline hover:text-blue-600 dark:hover:text-blue-400;
}
